@import "../../app";

.page-color {
  display: flex;
  flex-direction: column;
}

.userava {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  top: 16px;
  position: relative;
}

.birth Text {
  color: #999;
  margin-left: 10px;
}

.gray {
  color: #ccc;
}

.bottom {
  height: 140px;
  padding-top: 60px;
}

// 
.membg {
  background-image: url('../../assets/img/go-buy-header.png');
  background-size: 100% auto;
  height: 530px;
  position: relative;
}

#fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 470px;
}

.header {
  width: 144px;
  height: 144px;
}

.header-img {
  width: 100%;
  height: 100%;
}

.header-name {
  font-size: 38px;
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
}

.all-content {
  display: flex;
  margin: 50px 50px 50px 20px;

  .content-left {
    width: 270px;
    height: 270px;
  }

  .content-left-img {
    width: 270px;
    height: 270px;
  }

  .all-content-right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .all-content-name {
    font-size: 32px;
    color: #000000;
    font-weight: bold;
    line-height: 40px;
  }

  .information {
    display: flex;
    margin-top: 28px;
    margin-bottom: 23px;
  }

  .information-content {
    font-size: 22px;
    color: #B8B8B8;
    font-weight: bold;
    background: #F4F5F6;
    border-radius: 34px;
    padding: 6px 16px;
    margin-right: 20px;
  }
  .pirce {
    font-size: 36px;
    color: #911414;
    font-weight: bold;
  }
  .pirce-content {
    font-size: 50px;
    color: #911414;
    font-weight: bold;
  }

}
