.eightzPhoto{
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: 100%;
}
.coupondetail{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin-top: 390px;
}
.couponEightT{
    
font-size: 38px;
color: #911414;
line-height: 46px;
 margin-top: 291px;
}
.couponEightSy{
    
font-size: 28px;
margin-top: 15px;
color: #B8B8B8;
line-height: 36px;
}
.couponEightCt{
    
font-size: 24px;

color: #000000;
line-height: 46px;
}
.couponContentData{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.coLiJ{
    padding: 8px 25px;
    background: #FDC741;
    border-radius: 27px;
    margin-right: 60px;
font-size: 32px;

color: #911414;
line-height: 38px;
}
.ZHyou{
    
font-size: 32px;
padding: 8px 25px;
color: #FDC741;
line-height: 38px;
    border-radius: 27px;
    border: 1px solid #FDC741;
}

.ZHyoustatus{
font-size: 32px;
color: #FDC741;
line-height: 38px;
}
.SYbtn{
    position: fixed;
    margin-top: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}