.scrollList,.listCon{ height:100%; position:relative;  }
.shadow{ position:absolute; top:0; left:0; height:100%; width:100%; display:block; background:rgba(0,0,0,0); z-index:1000; }
.list{ position:relative; height:100%;  } 
.empty {
  text-align: center;
  width: 100%;
  color: #999;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);

  .image {
    width:750px;
    height:380px;
    display: block;
    margin: 0 auto;
  }

  .text {
    color:#7E7E7E;
    font-weight: bold;
    font-size: 30px;
  }

  .subText {
    color: #b9babb;
    font-size: 24px;
    margin-top: 15px;
  }

  .btnCon {
    margin-top: 170px;
  }

  .btnCon .btn {
    line-height: 100px;
    border-radius: 50px;
    border: 2px solid #911414;
    color: #911414;
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    font-size: 32px;
  }
}
.padtop {padding-top:16px;}
.empty .btnCon .btn{ line-height:100px; border-radius:50px; border:2px solid #c8102e; color:#c8102e; width:300px; margin:0 auto; display:inline-block; font-size:32px; }
.noMore{ text-align:center; color:#999; line-height:80px; }
.emptyBg{height:100%; background:linear-gradient(180deg,rgba(200,16,46,0.18) 0%,rgba(200,16,46,0) 20%) rgba(255,255,255,1); }