.flexbox {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  .flex-item {
    flex: 1;
    text-align: center;
  }
}

.registerPanel{ 
	position:fixed; display:block; z-index:1000; width:100%; height:100%; top:0; left:0;
	.shadow{ position:absolute; display:block; width:100%; height:100%; background:rgba(0,0,0,0.6); top:0; left:0; z-index:999; }
	.panelContent{ z-index:1000; font-size:0; position:absolute; width:100%; height:100%;  box-sizing:border-box;  color:#333; text-align:center; background:#fff; padding-top:100px; }
	.panelContent .closeBtn{ position:absolute; top:150px; right:10px; width:60px; height:60px; padding:20px; } 
	.panelContent .closeBtn .innerImg{ height:100%; width:100%; }
	.panelContent .centerImg{ width:100%; }
	.panelContent .content{ padding:50px 50px 70px 50px;
		.protocol{  font-size:24px;vertical-align:middle; color:#969AA1; 
			.yes{ height:26px; width:26px; display:inline-block; margin-right:12px; margin-top:-4px; vertical-align:middle; }
			.link{ color:#911414; }
		}
	    .btn{ background:#fff; color:#911414; border:2px solid #911414; line-height:100px; border-radius:50px; margin-top:50px; }
		.btn.authorizeBtn{ background:#911414; color:#fff;
	        .wx{ height:30px; width:36px; display:inline-block; margin-right:16px; vertical-align:middle;  }
		 }
	 }
}	


.panelTip{
  position: fixed; display: block; z-index: 1000; width: 100%; height: 100%; top: 0; left: 0;
  .shadow { position: absolute; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); top: 0; left: 0; z-index: 999;}
	.panelContent { z-index: 1001; font-size: 0; position: absolute; width: 570px; box-sizing: border-box; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #333; text-align: center; background: #fff; border-radius: 40px; /* overflow:hidden; */}
	.panelContent .closeBtn { position: absolute; top: 10px; right: 10px;  width: 40px; height: 40px; padding: 20px;}
	.panelContent .centerImg {width: 100%;height: auto; }
	.panelContent .content { padding: 80px 60px 60px 60px;}
	.panelContent .title {font-size: 36px; font-weight: bold; margin-bottom: 20px; }
	.panelContent .txt { font-size: 22px; color: #999; line-height: 35px; }
	.panelContent .btnCon { padding: 60px 0 0 0; }
	.panelContent .btn { font-size: 32px; line-height: 90px; background: #c8102e; color: #fff; width: 280px; border-radius: 45px; }
}


.panelYzm{
     position: fixed; display: block; z-index: 1000; width: 100%; height: 100%; top: 0; left: 0;
    .shadow { position: absolute; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); top: 0; left: 0; z-index: 999;}
	.panelContent { z-index: 1001; font-size: 0; position: absolute; width:670px; box-sizing: border-box; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #333; text-align: center; background: #fff; border-radius: 40px; /* overflow:hidden; */
		.closeBtn { position: absolute; top: 10px; right: 10px;  width: 40px; height: 40px; padding: 20px;}
	    .centerImg {width: 100%;height: auto; }
	    .content { padding: 80px 60px 60px 60px;}
		.title {
		  text-align: center;
		  font-size: 40px;
		  padding: 0;
		  font-weight: normal;
		  color: #342c2a;
		  margin-bottom: 10px;
		}
		.tit {
		  color: #bab6b6;
		  font-size: 24px;
		  margin-bottom: 50px;
		}
		.confirmbtn {
		  background: #911414;
		  color: #fff;
		  height: 100px;
		  line-height: 100px;
		  margin-top: 40px;
		  border-radius: 50px;
		  font-size: 35px;
		}
	 }	
	.fmGroup {
		padding: 30px 10px 30px 45px;
		background: #f6f6f6;
		position: relative;
		margin-bottom: 30px;
		border-radius: 50px;
		&.hasBtn {
	      padding-right: 210px;
	    }
		.input {
		  text-align: left;
		  font-size: 26px;
		  width: 100%;
		}
	  	.captcha {
		  display: inline-block;
		  width: 180px;
		  height: 64px;
		  border-radius: 32px;
		  position: absolute;
		  right: 30px;
		  top: 50%;
		  margin-top: -32px;
		}
		.btn {
		  display: inline-block;
		  width: 180px;
		  height: 64px;
		  line-height: 64px;
		  border-radius: 32px;
		  text-align: center;
		  position: absolute;
		  font-size: 26px;
		  box-sizing: border-box;
		  right: 30px;
		  top: 50%;
		  margin-top: -32px;
		}
		.sendBtn {
		  color: #d8d8d8;
		  border: 1px solid #d8d8d8;
		  display: inline-block;
		  width: 180px;
		  height: 64px;
		  line-height: 64px;
		  border-radius: 32px;
		  text-align: center;
		  position: absolute;
		  font-size: 26px;
		  box-sizing: border-box;
		  right: 30px;
		  top: 50%;
		  margin-top: -32px;
		}
		.sendBtn.active {
		  border: 1px solid #666;
		  color: #666;
		}
	 }	
}
