
page{
    
background: #F4F5F6;
}
.card{ padding:30px 0; }
.card .item{  position:relative; }
.card .item .Con{ position:absolute; left:0; top:0; font-size:30px; color:#fff; width:100%; height:100%; padding:50px 43px; box-sizing:border-box;  }
.card .item .Con .tips{ height:50px; line-height:50px; font-size:22px; color:rgba(255,255,255,0.7);}
.card .item .Con .levelName{ font-size:40px; margin-bottom:46px; }
.card .item .Con .txt{ font-size:26px; font-family:'Helvetica'; color:rgba(255,255,255,0.7);  }
.userMy{
    width: 100%;
    height: auto;
    background: #05081E;
}
.scrollview{ height:350px; }
.imgscroll{
    width: 650px;
    height: 350px;
    display: inline-block;
}

.qyText{
    
font-size: 32px;

color: #FFFFFF;
line-height: 38px;
}
.qyTexttwo{
    
    font-size: 32px;
    margin-right: 75px;
    color: #FFFFFF;
    line-height: 38px;
    }
.qyTextAll{
    display: flex;
    padding-left: 31px;
    padding-top: 32px;
    justify-content: space-between;
}
.quyimg{
    width: 44px;
    height: 53px;
}
.quyitype{
font-family:'Helvetica';    
font-size: 22px;
padding-top: 17px;
color: #FFFFFF; 
line-height: 38px;
}
.quyitypeAll{
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    align-items: center;
    flex:1;
}
.quyiAllLogo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 29px;
    padding-bottom: 80px;
}
.tabCon{ padding:0 30px; position:relative; margin-top:-30px; }
.tabCon .tab{ height:200px; background:#fff; padding:30px 0; box-sizing:border-box; border-radius:10px; }
.tabCon .tab .txt{ font-size:36px; font-weight:bold; margin-bottom:30px; }
.tabCon .tab .num{ font-size:54px; color:#911414; font-weight:bold;  }
.tabCon .cat{ position:absolute; right:0; bottom:0; height:235px; width:215px;  }
.tabCon .rect{ width:180px; }
.quanynumber{
    color: #FDC741;
    font-size: 36px;
}
.naAll{
    width: 690px;
height: 100px;
background: #FFFFFF;
box-shadow: 0px 0px 6px 0px rgba(184, 184, 184, 0.2);
border-radius: 10px;
margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 34px;
}
.naText{
    
font-size: 36px;
margin-right: 353px;
color: #000000;
line-height: 43px;
}
.naImg{
    width: 17px;
    height: 27px;
}
.nama{
    padding-bottom: 45px;
}