/* Custom Taro Theme */
$color-brand: #c8102e;
$color-brand-light: #d64c62;
$color-brand-dark: #a00d25;

/* Var */
$height: 320px;
$white: #fff;
$red: #c7102e;
$bgColor: #f4f4f4;
$black: #333;
$orange: #e68835;
$pink: #de7082;
$green: #74aa50;
$dark: #666666;
$grey: #a8a8a8;
$tit:#3054A2; 
$txt:#818181;
$btnbg:#BF2B43;